@font-face {
    font-family: grillnea;
    src: url(../fonts/grillinea/Grillinea.ttf);
  }

a{
    color:white;
    font-size: 800%;
    text-shadow: 8px 8px black;
}

#transparent{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}
#info{
    font-family: 'Dancing Script', cursive;
    color:rgb(255, 255, 255);
    font-size: 300%;
    padding: 100px 60px;
}

#fanart{
    height: 100vh;
    width: 100vw;
}

h1{
    font-family: grillnea;
    font-size: 300%;
}
.noscroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.noscroll::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0%;
    padding: 0%;

    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: ;
}

#bakgrund{
    width: 100vw;
    z-index: -1;
    position: fixed;
    object-position: 0px -200px;
}

#wrapper{
    height: 200vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
    'lo lo'
    'me bi'
    'om bi'
    'hi bi'
    ;

    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
}

#menyWrapper{
    height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
    'a1'
    'a2'
    'a3'
    'a4'
    'a5'
    ;
}

#d1{
    grid-area: a1;
    height: 100%;
    width: 100%;
    background-color: khaki;
    text-align: center;
}

#d2{
    grid-area: a2;
    size: 100%;
    background-color: khaki;
    text-align: center;
}

#d3{
    grid-area: a3;
    size: 100%;
    background-color: khaki;
    text-align: center;
}

#d4{
    grid-area: a4;
    size: 100%;
    background-color: khaki;
    text-align: center;
}

#d5{
    grid-area: a5;
    size: 100%;
    background-color: khaki;
    text-align: center;
}

#logo{
    grid-area: lo;
    background-image: url(../img/roadkill_grill\ logo.png);
    background-size: 100%;
    background-position: center;
    height: 100%;
    width: 100%;
    filter: drop-shadow(15px 15px black);
}

#bild{
    grid-area: bi;
    height: 100%;
    width: 100%;
    background-image: url(../img/bild_downsized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: grillnea;
}

#meny{
    grid-area: me;
    height: 100%;
    width: 100%;
    background-image: url(../img/meny_downsized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: grillnea;
}


#om_oss{
    grid-area: om;
    height: 100%;
    width: 100%;
    background-image: url(../img/om_oss_downsized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: grillnea;
}

#hitta_hit{
    grid-area: hi;
    height: 100%;
    width: 100%;
    background-image: url(../img/hitta_hit_downsized.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: grillnea;
}
